# This workflow will build a .NET project

name: collect dotnet-runtime PRs

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: # Allow manual trigger

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  summarize:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Setup .NET
      uses: prozolic/Actions/.github/actions/setup-dotnet@main
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release
    - name: configure-pages@v4 latest PRs and create PRs.
      run: dotnet run --project ./src/PRDigest.NET/PRDigest.NET.csproj --no-launch-profile -c Release ./archives ./outputs -g
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ANTHROPIC_API_TOKEN: ${{ secrets.ANTHROPIC_API_TOKEN }}
    - name: Commit and push changes
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add ./archives
        git commit -m "Summaraize latest PRs by github-actions[bot]"
    - name: Upload artifact
      uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      with:
        path: ./outputs/
        if-no-files-found: error

  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4