# This workflow will build a .NET project

name: collect dotnet-runtime PRs

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: # Allow manual trigger

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  summarize:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Setup .NET
      uses: prozolic/Actions/.github/actions/setup-dotnet@main
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release
    - name: configure-pages@v4 latest PRs and create PRs.
      run: dotnet run --project ./src/PRDigest.NET/PRDigest.NET.csproj --no-launch-profile -c Release ./archives ./outputs -g
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
    - name: Commit and push changes
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add ./archives
        git diff --quiet && git diff --staged --quiet || (git commit -m "Summaraize latest PRs by github-actions[bot]" && git push origin main)
    - name: Upload artifact
      uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      with:
        path: ./outputs/

  deploy:
    needs: summarize
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5

  # NOTE: push with GITHUB_TOKEN won't invoke the event,
  #       as a workaround, directly call the action.
  release:
    needs: deploy
    uses: ./.github/workflows/create-release.yml
